# dependencies
node_modules/

# Expo
.expo/
web-build/
expo-env.d.ts
nativeHtml.js
public/simulator/
/ios
/android

# build
dist/
build/
.vite/

# env / secrets
.env
.env.*
!.env.example

# logs & OS
*.log
.DS_Store
Thumbs.db

# editor
.idea/
*.swp
